@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}



.box input{
    font-size: 20px;
}

.box #premio{
    display: block;
    height: 40px;
    margin-bottom: 20px;
}

.box .add-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box .add-box button{
    margin-left: 10px;
}

.box #nome{
    display: block;
    height: 40px
}



.box #add{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(195, 104, 255);
    cursor: pointer;
}

.box #add:active{
    transform: scale(0.9);
}

.add-box{
    display: flex;
    align-items: flex-end;
}

.button-box{
    position: absolute;
    top: 110%;
}

.controleTabela{
    display: flex;
    align-items: center;
}

#remove{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 89%;
    right: 34%;
    width: 50px;
    height: 50px;
    background-color: rgb(209, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#remove:active{
    transform: scale(0.9);
}

.tabela-box{
    flex: 1;
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translateY(-50%);
    border: 1px solid rgb(177, 177, 177);
    width: 30vw;
    height: 90vh;
    overflow: auto;
}

.tabela-box table{
    border-collapse: collapse;
    width: 30vw;
}

table tr td{
    padding: 5px;
    vertical-align: top;
    border: 1px solid rgb(177, 177, 177);
    width: auto;
    cursor: pointer;
}

table tr:nth-child(even){
    background-color: rgb(221, 237, 255);
}

.selecionado{
    border: 1px solid red;
    background-color: rgb(255, 183, 183);
}

#sortear{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 40px;
    border: none;
    background-image: linear-gradient(45deg, rgb(119, 0, 255), rgb(255, 0, 255));
    border-radius: 5px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* #sortear:active{
    transform: scale(0.9);
} */